<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
        function setCookies() {
            var d = new Date();
            d.setTime(d.getTime() + (2*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            var inputUsername = document.getElementById("username").value;
            var inputPassword = document.getElementById("password").value;

            document.cookie = "new_username=" + inputUsername + ";" + expires + ";path=/ ;secure ;SameSite=Strict";
            document.cookie = "new_password=" + inputPassword + ";" + expires + ";path=/ ;secure ;SameSite=Strict";
        }

        $(document).ready(function() {
            $('#submit').click(  function () {
                setCookies();
                console.log("click");
                var sendData = $('#data').val();

                $.ajax({
                    url: 'https://' + window.location.host + '/settings',    //Your api url
                    type: 'PUT',   //type is any HTTP method

                    success: function () {
                        window.location.href = "https://" + window.location.host + "/teilnahme";
                        alert("Successfully changed data!");
                    }
                })
                ;

            });
        });
    </script>
    </head>
    <body>
        <form>
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" id="username" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="password" required>

                <button type="button" id="submit">
                    Change Data
                </button>
            </div>
        </form>
    </body>
</html>