<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>
<p><a href="/register">Register here</a></p>
<p><a href="/home">Home here</a></p>
<div th:if="${param.error}"> Invalid username and password. </div>
<div th:if="${param.logout}"> You have been logged out. </div>
<div th:if="${param.accountDeleted}"> Your account has been deleted. </div>
<form th:action="@{/login}" method="post">
    <table>
    <tr>
        <td><label> User Name: </label></td>
        <td><input type="text" name="username" autofocus/> </td>
    </tr>
    <tr>
        <td><label> Password: </label>
        <td><input type="password" name="password"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="Sign In"/></td>
    </tr>
    </table>
</form>
</body>
</html>