<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REGISTRATION</title>
</head>
<body>
<h1>REGISTRATION</h1>
<p><a href="/login">Login here</a></p>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="#" th:if="!${success} + !${error}" th:action="@{/registration}" th:object="${registrationForm}" method="post">
                <table>
                    <tr>
                        <td>Vorname:</td>
                        <td><input type="text" th:field="*{vorname}" /></td>
                        <td th:if="${#fields.hasErrors('vorname')}" th:errors="*{vorname}"></td>
                    </tr>
                    <tr>
                        <td>Nachname:</td>
                        <td><input type="text" th:field="*{nachname}" /></td>
                        <td th:if="${#fields.hasErrors('nachname')}" th:errors="*{nachname}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" th:field="*{email}" /></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                    </tr>
                    <tr>
                        <td><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>
            <table th:if="${success}" >
                <tr>
                    <p th:text="${success}"></p>
                    <a th:href="@{'http://www.' + ${provider}}" th:text="${provider}"></a>
                </tr>
            </table>
            <table th:if="${error}" >
                <tr>
                    <p th:text="${error}"></p>
                </tr>
            </table>
            <div ></div>

        </div>
    </div>
</div>
</body>
</html>