<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" :>
<head>
    <meta charset="UTF-8">
    <title>AUSSTATTUNGSGEGENSTÄNDE</title>
</head>
<body>
<h1>AUSSTATTUNGSGEGENSTÄNDE</h1>
<p><a href="/admin">Admin Home here</a></p>

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Anzahl</td>
        <td>Options</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item : ${items}">
        <tr th:if="${items.isEmpty()}" th:text="No entries found!"></tr>
        <tr>
            <form action="#" th:action="@{ausstattung/edit}" method="post">
                <td><input type="text" name="id" th:value="${item.getAusstattungsgegenstandid()}" readonly /></td>
                <td><input type="text" name="name" th:value="${item.getName()}" /></td>
                <td><input type="text" name="anzahl" th:value="${item.getAnzahl()}" /></td>

                <td><button type="submit">Update</button></td>
            </form>

            <form action="#" th:action="'ausstattung/delete/' + ${item.getAusstattungsgegenstandid()}" method="post">
                <td><button type="submit">Delete</button></td>
            </form>
        </tr>
    </th:block>

    <tr>
        <br>
        <td><h2>Add new item</h2></td>
    </tr>
    <form action="#" th:action="@{ausstattung/add}" method="post">
        <tr><td><input type="text" name="name" placeholder="Name des Gegenstands" /></td></tr>

        <tr><td><input type="text" name="anzahl" placeholder="Anzahl der Gegenstände" /></td></tr>

        <tr><td><button type="submit">Add</button></td></tr>
    </form>
    </tbody>
</table>
</body>
</html>