<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" :>
<head>
    <meta charset="UTF-8">
    <title>RÄUME</title>
</head>
<body>
<h1>RÄUME</h1>
<p><a href="/admin">Admin Home</a></p>

<table>
    <thead>
    <tr>
        <td>Ort</td>
        <td>AnzahlStuhl</td>
        <td>AnzahlTisch</td>
        <td>AnzahlLaptop</td>
        <td>Whiteboard</td>
        <td>Barrierefrei</td>
        <td>Klimaanlage</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item : ${items}">
        <tr th:if="${items.isEmpty()}" th:text="No entries found!"></tr>
        <tr>
            <form action="#" th:action="'/admin/raum/edit/' + ${item.getRaumid()}" th:method="put">
                <td><input type="text" name="ort" th:value="${item.getOrt()}" /></td>
                <td><input type="text" name="anzahlStuhl" th:value="${item.getAnzahlstuhl()}" /></td>
                <td><input type="text" name="anzahlTisch" th:value="${item.getAnzahltisch()}" /></td>
                <td><input type="text" name="anzahlLaptop" th:value="${item.getAnzahllaptop()}" /></td>
                <td><input type="checkbox" name="whiteboard" th:checked="${item.getWhiteboard()}" /></td>
                <td><input type="checkbox" name="barrierefrei" th:checked="${item.getBarrierefrei()}" /></td>
                <td><input type="checkbox" name="klimaanlage" th:checked="${item.getKlimaanlage()}" /></td>

                <td><button type="submit">Update</button></td>
            </form>

            <form action="#" th:action="'/admin/raum/delete/' + ${item.getRaumid()}" th:method="delete">
                <td><button type="submit">Delete</button></td>
            </form>
        </tr>
    </th:block>

    <tr>
        <br>
        <td><h2>Add new item</h2></td>
    </tr>
    <form action="#" th:action="@{/admin/raum/add}" method="post">
        <tr><td><input type="text" name="ort" placeholder="Ort" /></td></tr>
        <tr><td><input type="text" name="anzahlStuhl" placeholder="AnzahlStuhl" /></td></tr>
        <tr><td><input type="text" name="anzahlTisch" placeholder="AnzahlTisch" /></td></tr>
        <tr><td><input type="text" name="anzahlLaptop" placeholder="AnzahlLaptop" /></td></tr>

        <tr><td><input type="checkbox" name="whiteboard" />Whiteboard</td></tr>
        <tr><td><input type="checkbox" name="barrierefrei" placeholder="Barrierefrei" />Barrierefrei</td></tr>
        <tr><td><input type="checkbox" name="klimaanlage" placeholder="Klimaanlage" />Klimaanlage</td></tr>

        <tr><td><button type="submit">Add</button></td></tr>
    </form>
    </tbody>
</table>
</body>
</html>