<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SETTINGS</title>
</head>
<body>
<h1>SETTINGS</h1>
<p><a href="/user">User Home here</a></p>

<div th:if="${param.dataChanged}"> Succsessfully changed your credentials.</div>
<div th:if="${param.dataChangedError}"> Could not change your credentials.</div>

<form action="#" th:action="@{/user/settings}" th:method="put">
    <table>
        <tbody>
            <tr>
                <td><label> Vorname: </label></td>
                <td><input type="text" name="vorname" autofocus/> </td>
            </tr>

            <tr>
                <td><label> Nachname:</label> </td>
                <td><input type="text" name="nachname"/> </td>
            </tr>

            <tr>
                <td><label> Username: </label></td>
                <td><input type="text" name="benutzername"/> </td>
            </tr>

            <tr>
                <td><label> Password: </label></td>
                <td><input type="password" name="passwort"/> </td>
            </tr>

            <tr><td><input type="submit" value="Change data"/></td></tr>
        </tbody>
    </table>
</form>

<div>
    <td th:text="'vorname:' + ${userdata.get(1)}">...</td>
</div>
<div>
    <td th:text="'nachname:' + ${userdata.get(2)}">...</td>
</div>
<div>
    <td th:text="'benutzername:' + ${userdata.get(7)}">...</td>
</div>
<div>
    <td th:text="'passwort:' + ${userdata.get(8)}">...</td>
</div>
<form th:action="@{/user/settings}" th:method="DELETE"><input type="submit" value="DELETE ACCOUNT"/></form>
</body>
</html>